/* . {
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #010101;
} */
h2 {
  font-size: 40px;
}

form {
  align-items: flex-start;
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-style: solid;
  border-color: rgb(143, 100, 146);
  border-radius: 5px;
}
.main_div {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}
