.contactsList {
  border-color: rgb(143, 100, 146);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 40px;
}

.contactsItem {
  margin-bottom: 10px;
  text-align: right;
  justify-content: center;
  align-items: center;
}

.contactBtn {
  margin-left: 10px;
  width: 80px;
  height: 20px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  background-color: rgb(143, 100, 146);
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: all 500ms ease;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: blueviolet;
  color: azure;
  box-shadow: 5px 5px 5px rgb(85, 84, 84);
}
