.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-bottom: 20px;
}

.formlabel {
  font-size: 16px;
  color: rgb(143, 100, 146);
}

.formInput {
  margin-bottom: 20px;
  width: 200px;
  padding: 8px;
  border-color: rgb(143, 100, 146);
  border-radius: 5px;
  font-size: 16px;
}

.formBtn {
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(143, 100, 146);
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: all 500ms ease;
  cursor: pointer;
}

.formBtn:hover {
  background-color: rgb(25, 64, 194);
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(85, 84, 84);
}
